POSTGRES_DB=shortlink
POSTGRES_USER=shortlink
POSTGRES_PASSWORD=shortlink
KAFKA_ADVERTISED_HOST=localhost

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SERVER_DOMAIN=localhost
GF_SERVER_ROOT_URL=http://localhost:3001

DB_URL=jdbc:postgresql://localhost:5432/shortlink
DB_USERNAME=shortlink
DB_PASSWORD=shortlink
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=local-dev-secret-change-me

NEXT_PUBLIC_API_URL=http://localhost:8080